@model IEnumerable<Travel.Models.Tra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.travel_type_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.travel_from)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.travel_to)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.travel_access_point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.travel_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.travel_notice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.travel_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.user_full_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.travel_type_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.travel_from)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.travel_to)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.travel_access_point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.travel_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.travel_notice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.travel_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.user_full_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.travel_id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id = item.travel_id }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id = item.travel_id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
