@model Travel.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_full_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_fb_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_fb_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_instagram_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_instagram_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_twitter_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_twitter_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_car_marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_car_marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_car_model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_car_model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_car_place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_car_place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.gender_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.gender_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
