@model Travel.Models.Navbar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Navbar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nav_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nav_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nav_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nav_url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nav_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
