@model IEnumerable<Travel.Models.Navbar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nav_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nav_url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nav_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nav_url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.nav_id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id = item.nav_id }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id = item.nav_id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
